#logo {
    font-family: Snap ITC;
    font-size: 30px;
    padding: 1rem 0;
    padding-left: 2rem;
}
#logo-link {
    font-family: snap ITC;
    color: rgb(218, 204, 204);
}

#logo-link:hover {
    font-family: snap ITC;
    padding: 1rem 2rem;
    background-color: gray;
    color: rgb(218, 204, 204);
    border-radius: 10px;
}

hr {
    background-color: gray;
}

img {
    width: 35rem;
    height: 37rem;
    border-radius: 70px;
}

h3 {
    font-size: 35px;
    font-family: snap ITC;
    text-align: center;
    color: rgb(218, 204, 204);
}

p {
    font-family: snap ITC;
    text-align: center;
    color: rgb(218, 204, 204);
}
.mar {
    margin-bottom: 2rem;
}

.ab {
    text-align: center;
    color: rgb(218, 204, 204);
    font-family: snap ITC;
}
.amm {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.ac {
    padding-right: 1rem;
    color: blue;
}

.acc {
    padding-right: 1rem;
    color: blueviolet;
}

.accc {
    padding-right: 1rem;
    color: violet;
}

.acccc {
    color: lightgreen;
}

.sendbutton{
    color: white;
    border: none;
    height: 40px;
    width: auto;
    margin: auto;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    font-family: snap ITC;
    margin-top: 10px;
    background-color: black;
}

.button1 {
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
}

.sendbutton:hover {
    color: white;
    border: none;
    height: 40px;
    width: auto;
    margin: auto;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    font-family: snap ITC;
    margin-top: 10px;
    background-color:  rgb(218, 204, 204);;
}